.surface {
  width: 700px;
  height: 700px;
  border: 1px solid gray;
  margin: 0 auto;

  .card {
    width: 50px;
    position: absolute;

    &.highlighted {
      border: 2px solid #00ff00;
      border-radius: 1px;
      box-sizing: border-box;
    }
  }
}